.parallax {
  /* Full height */
  height: 100vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*sets the title in the center of the page */
.title-parallax {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
