/*Universal Font Family and color*/
* {
  color: #3b2f2f;
  font-family: "Neucha", cursive;
}

/*altered text sizes. Need to come back and make these classes for  
since its bad form to overwrite innitials on any project */ 

h1 {
  font-size: 4em !important;
}

h2 {
  font-size: 3em !important;
}

p,
a {
  font-size: 1.5rem !important;
}