/*Universal Font Family and color*/
* {
  color: #3b2f2f;
  font-family: "Neucha", cursive;
}

/*altered text sizes. Need to come back and make these classes for  
since its bad form to overwrite innitials on any project */ 

h1 {
  font-size: 4em !important;
}

h2 {
  font-size: 3em !important;
}

p,
a {
  font-size: 1.5rem !important;
}

.parallax {
  /* Full height */
  height: 100vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*sets the title and first navigation in center of page*/
.title-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

