
/* centers the title and navigation of the content container */

.center-navigation {
    display: flex;
    flex-direction: column;
    align-items:center;
    white-space: nowrap;
    text-align: center;
  }
  
.blue-background {
  background: rgb(141, 199, 199);
}