

/* makes text bold*/
.bold {
  font-weight: bolder;
}

/* responsiveness for profile picture. Worked better than img-fluid */
@media screen and (max-width: 650px) {
  .profile-pic {
    max-width: 90%;
  }
}
/* responsiveness for profile picture. Worked better than img-fluid */
@media screen and (min-width: 650px) {
  .profile-pic {
    max-width: 300px;
  }
}

